#basic-commands
bogus-priv
no-resolv
clear-on-reload

#secondary dns servers
server=8.8.8.8
server=1.1.1.1

#dns-configuration
#resolved names at /etc/hosts
expand-hosts
domain={{ server_domain }}
interface=tun0
listen-address=127.0.0.1, {{ server_ip }}

#resolved names
address=/tak.{{ server_domain }}/{{ server_ip }}
address=/mtls.tak.{{ server_domain }}/{{ server_ip }}
address=/mtls.{{ server_domain }}/{{ server_ip }}
address=/fake.{{ server_domain }}/{{ server_ip }}
address=/mtls.fake.{{ server_domain }}/{{ server_ip }}
address=/{{ server_domain }}/{{ server_ip }}
address=/fake.{{ server_domain }}/{{ server_ip }}
address=/kc.{{ server_domain }}/{{ server_ip }}
address=/{{ additional_subdomain }}.{{ server_domain }}/{{ server_ip }}

#logs
log-facility=/var/log/dnsmasq.log
log-async
log-queries
log-dhcp
