---

- name: Localhost | Prepare local playbook to manage the server | Check if there are ansible keys preseent
  stat:
    path: '{{ ansibleuser_ssh_private_key_file }}'
  register: ansibleuserkey_preserence

- name: Localhost | Prepare local playbook to manage the server | Check if there are ansible keys preseent
  stat:
    path: '{{ sysadmin_ssh_private_key_file }}'
  register: sysadminkey_preserence

- name: Localhost | Prepare local playbook to manage the server | Create target Ansible user ssh pair
  community.crypto.openssh_keypair:
    state: present
    path: "{{ ansibleuser_ssh_private_key_file }}"
    #passphrase: '{{ lxc_ansibleuser_sshpass }}'
    type: rsa
    size: 2048
    comment: "{{ lxc_ansibleuser }}@{{ hostname_main }}"
  when: not ansibleuserkey_preserence.stat.exists

- name: Localhost | Prepare local playbook to manage the server | Create sysadmin ssh pair
  community.crypto.openssh_keypair:
    state: present
    path: "{{ sysadmin_ssh_private_key_file }}"
    #passphrase: '{{ vault_admin_sshpass }}'
    type: rsa
    size: 2048
    comment: "{{ lxc_sysadmin }}@{{ hostname_main }}"
  when: not sysadminkey_preserence.stat.exists

#- name: Make sure .ssh directory permissions are all right
#  become: yes
#  file:
#    path: '{{ ssh_folder }}'
#    mode: 700
 