
  - name: restart docker-compose
    community.docker.docker_compose_v2:
      project_src: "/home/{{ ansible_user }}/docker-rasenmaeher-integration"
      state: restarted

  - name: reload:firewalld
    ansible.builtin.command:
      cmd: sudo firewall-cmd --reload

  - name: reload_firewalld
    ansible.builtin.command:
      cmd: sudo firewall-cmd --reload
