- name: Deploy RM | Install firewalld
  ansible.builtin.apt:
    name: firewalld
    state: present
  become: true

- name: Deploy RM | Install Python library for firewalld
  ansible.builtin.apt:
    name: python3-firewall
    state: present
  become: true

- name: Deploy RM | Allow SSH
  ansible.posix.firewalld:
    service: ssh
    permanent: true
    state: enabled

- name: Deploy RM | Allow specific ports
  ansible.posix.firewalld:
    port: "{{ item }}"
    permanent: true
    state: enabled
  loop:
    - "8089/tcp"
    - "8000-8001/tcp"
    - "8015/tcp"
    - "8443-8446/tcp"
    - "443/tcp"
    - "4439/tcp"
    - "80/tcp"
    - "4625-4626/tcp"
