---
- include_tasks: manage_vars.yml
- include_tasks: prepare_dns.yml
- include_tasks: do_firewall.yml
- name: Include Development Deployment Tasks
  include_tasks: deploy_dev_rm.yml
  when: deploy_in_dev | default(false) | bool

- name: Include Production Deployment Tasks
  include_tasks: deploy_prod_rm.yml
  when: not deploy_in_dev | default(false) | bool
